{% extends 'core/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
    <div style="padding-top:50px; text-align:center;">
        <div class="row">
            <div class="col-10">
                <h1 class="text-left">Crear Menú</h1>
            </div>
            <div class="col-2">
                <a href="{% url 'createOption' %}" class="btn btn-block btn-info" title="Agregar Opción"><i class="fa fa-plus"></i></a>
            </div>
        </div>
    </div>

    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="Date">Fecha</label>
                    <input type="text" class="form-control datepicker" id="date" placeholder="Ingrese la fecha del menu">
                </div>
                <div class="col-6">
                    <label for="Options">Opciones</label>
                    <select class="select2" name="states[]" multiple="multiple">
                        <option value="AL">Pollo al Jugo con Arroz</option>
                        <option value="WY">Pastel de Choclo</option>
                    </select>
                </div>
            </div>
            
        </div>
        
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>

</div>

<script type="text/javascript"> 
    $(document).ready(function(e){
        $('.select2').select2({width: "100%"});
        $('.datepicker').datepicker();
    });
</script>

{% endblock %}