{% extends 'menu/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
<div class="container">
    <div style="padding-top:50px; text-align:center;">
        <div class="row">
            <div class="col-10">
                <h1 class="text-left">Error</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="alert alert-danger alert-block">{{ message }}</div>
        </div>
    </div>

{% endblock %}